<section
  class="max-lg:pt-[40px] max-lg:pb-[60px] px-[16px] bg-[#ECECEC] relative z-30 font-roboto-condensed"
>
  <div class="max-w-[1344px] mx-auto">
    {% liquid
      assign product_specs = product.metafields.custom.product_specs_with_images.value
    %}

    {% if product_specs != blank %}
      {% for spec in product_specs %}
        <div
          class="feature-card flex flex-col lg:flex-row gap-[24px] items-center justify-center"
        >
          <!-- Image -->
          <div
            class="feature-image flex items-center justify-center flex-1 max-w-[596px] max-h-[596px]"
          >
            {% if spec.image != blank %}
              <img
                src="{{ spec.image | image_url: width: 800 }}"
                alt=""
                class="w-full max-h-[596px] object-contain"
              />
            {% endif %}
          </div>

          <!-- Content -->
          <div class="feature-content flex-1 max-w-[596px]">
            {{ spec.content | metafield_tag }}
          </div>
        </div>
      {% endfor %}
    {% endif %}
  </div>
</section>

{% stylesheet %}
  .feature-content h3 {
    font-size: 40px;
    font-weight: 700;
    color: #2F333D;
    line-height: 1;
    margin: 0 0 30px;
  }

  .feature-content p {
    font-size: 20px;
    color: #4A4E5A;
    line-height: 1.2;
    letter-spacing: -0.01em;
    margin: 0 0 8px;
  }

  .feature-content p:last-child {
    margin-bottom: 0;
  }

  @media screen and (max-width: 749px) {
    .feature-content {
      max-width: 100%;
      gap: 16px;
    }
  }

  @media screen and (min-width: 750px) {
    .feature-card {
      padding: 24px 0 !important;
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Features Section",
  "settings": [],
  "blocks": [
    {
      "type": "feature",
      "name": "Feature Card",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Feature Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Feature Title",
          "default": "D2D PRO AM Frame"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "Subtitle",
          "default": "Lorem ipsum"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Feature Description (each line = separate paragraph)",
          "default": "Aluminium profile Sim Cockpit, manufactured by Dream2Drive.\nCockpit has no flex with even the mightiest wheels bases.\nAvailable silver and black color.\nDimensions: 1300mm x 600mm"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Features Section",
      "category": "Product"
    }
  ]
}
{% endschema %}
